body {
	background: white;
	width: 90%;
	padding: 0;
	margin: 30px auto;
        color: #444;
        min-width: 900px;
        /*border-left: 1px solid #999;
        border-right: 1px solid #999;*/
        border-radius: 5px;
        box-shadow: 5px 5px 2px #b2c7d4;
        font:13px/1.231 sans-serif;
        *font-size:small; /* Hack retained to preserve specificity */

}

html{
	background: #d1edff;
}


header {
	border-bottom: solid #f78d1d;
	margin-bottom: 15px;
	padding-bottom: 0px;
        padding-top: 30px;
}	

#logo {
    background: url("../img/blue_cube_small.png") no-repeat;
    width: 100%;
    font-size: 48px;
    padding-left: 100px;
    margin-left: 25px;
    height: 100px;
    
}

#books {
	color: #456DCA;
	margin: 0px auto;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 10px;
}

#books td {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
	clear: both;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
        border-top: solid #f78d1d;
}

nav {
    float: right;
    margin-top: -50px;
    padding-right: 20px;
}

nav ul li {
	display: inline;
	list-style-type: none;
}


#categories {
	width: 19%;
	float: left;
	padding: 0;
	margin: 0;
}

#categories h2 {
        height:22px;
        font-size: 16px;
        border: 1px solid #e0e0e0;
        border-left: none;
        border-bottom: none;
        border-top-right-radius: 5px;
        margin-bottom:0px;
        padding-left: 10px;
        padding-top: 10px;
}

#categories ul {
       border: 1px solid #e0e0e0;
       border-top: none;
       border-left: none;
       padding: 10px;
       margin-top: 0px;
       padding-bottom: 500px;
       border-bottom-right-radius: 5px;
}

#categories ul li{
	list-style-type: none;
}


#content {
	width: 80%;
	float: left;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
        margin-left: 10px;
        /*border-left: 1px solid #999;
        border-bottom: 1px solid #999;*/
}

#content h3 {
	text-align: center;	
}

#content h1 span {
    font-weight: 300;
    font-size: 90%;
}

.book span {
	display: block;
}

.bookDesc {
    border-bottom: 1px solid #e0e0e0;
}

.bookDesc td {
    vertical-align: top;
}

dt {
    margin-top: 5px;
}

#dataCell {
    padding: 10px;
}

#dataCell p, #dataCell h2, #dataCell h3 {
    text-align: right;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
*/
::-moz-selection{ background: #FF6600; color:#fff; text-shadow: none; }
::selection { background:#FF6600; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF6600; }

a:link {
    text-decoration: none;
    color: #0095ff;
}

a:hover {
    color: #00bbff;
}

/* CSS 3 Buttons! */
a.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
        color: #fef4e9;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* End button styles */

/* ------ SLIDE SHOW STYLES ------- */

#slideshow {
	/* The width of the show */
	width: 600px;
	max-width: 100%;
	margin: 0px auto;
	overflow: hidden;
        border-radius: 5px;
}

#slides {
    /* This is the slide area */
    height: 262px;

    /* jQuery changes the width later on to the sum
     of the widths of all the slides. */
    width:600px;
    overflow: hidden;
}

.slide {
    float: left;
}

#menu{
    /* This is the container for the thumbnails */
    height: 30px;
    float: right;
}

#slideshow ul{
    margin: 0px;
    padding: 0px;
}

#slideshow li, #slideshow li a {
    display:inline-block;
}
#slideshow li {
    position:relative;
    margin-left:3px;
    width:11px;
    height:11px;
    overflow:hidden; 
    margin-top: 3px;
}
#slideshow li a {
    position:absolute;
    width:15px;
    height:45px;
    top:-2px;
    left:-2px;
    background:url(../img/dots.png) no-repeat 0 0;
}
#slideshow li a:hover { 
    top:-17px;
}
#slideshow li a.active {
    top:-32px;
}

#slideshow a img {
    border: none;
}

/* ------ END OF SLIDE SHOW STYLES ------- */


/* ------ BAZINGA OVERLAY STYLES --------- */

.bazinga-overlay-bg { 
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;  /* fallback for browsers that don't support rgba' */
    background: rgba(0,0,0,.8);
    z-index: 100; /* Make sure it's really on top of things'*/
    display: none; /* jQuery will change this later */
    top: 0;
    left: 0;
}

.bazinga-overlay {
    visibility: hidden; /* jQuery changes this later */
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    position: absolute;
    background-color: #fff;
    z-index: 101; /* 1 above the background */
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
}

/* I just used a "x" character */
.bazinga-overlay .close-bazinga-overlay {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
} 
/* ----- END BAZINGA OVERLAY STYLES ----- */
